In [1]:
import numpy as np
import pandas as pd
import re

# 1. Write a function named is_vowel. 
It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [5]:
def is_vowel(string):
    regexp = r'[aeiouAEIOU]'
    if re.search(regexp, string):
        return True
    else:
        return False

In [6]:
string_list = ['a','b','c','d','e','f']
for string in string_list:
    print(is_vowel(string))

True
False
False
False
True
False

# 2. Write a function named is_valid_username
that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [14]:
def is_valid_username(string):
    regexp = r'^[a-z][a-z0-9_]+'
    if (re.search(regexp, string)) and (len(string) <= 32):
        return True
    else:
        return False

In [16]:
assert is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') == False
assert is_valid_username('codeup') == True
assert is_valid_username('Codeup') == False
assert is_valid_username('codeup123') == True
assert is_valid_username('1codeup') == False

# 3. Write a regular expression to capture phone numbers. It should match all of the following:
- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [53]:
def capture_phone_numbers(string):
    regexp = r'''
    ^\D*(\d)\D*(\d{3})\D*(\d{3})\D*(\d{4})\b | 
    ^\D*(\d{3})\D*(\d{3})\D*(\d{4})\b |
    ^(\d{3})\D*(\d{4})\b'''
    if re.search(regexp, string, re.VERBOSE):
        return True
    else:
        return False

In [55]:
assert capture_phone_numbers('+1 210.867.5309') == True
assert capture_phone_numbers('(210) 867 5309') == True
assert capture_phone_numbers('867-5309') == True
assert capture_phone_numbers('210-867-5309') == True
assert capture_phone_numbers('potato') == False
assert capture_phone_numbers('444,321234523') == False
assert capture_phone_numbers('444,321rabbit2345230') == False

# 4. Use regular expressions to convert the dates below to the standardized year-month-day format.
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [57]:
def convert_dates(string_date):
    regexp = r'(\d{2})/(\d{2})/(\d{2})'
    return re.sub(regexp, r'20\3-\1-\2', string_date)

In [58]:
assert convert_dates('02/04/19') == '2019-02-04'
assert convert_dates('02/05/19') == '2019-02-05'
assert convert_dates('02/06/19') == '2019-02-06'
assert convert_dates('02/07/19') == '2019-02-07'
assert convert_dates('02/08/19') == '2019-02-08'
assert convert_dates('02/09/19') == '2019-02-09'
assert convert_dates('02/10/19') == '2019-02-10'

# 5. Write a regex to extract the various parts of these logfile lines:
- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [60]:
logs = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''

In [64]:
logs = pd.Series(logs.strip().split('\n'))

In [65]:
logs

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [75]:
logs[0]

'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'

In [428]:
regexp = r'''
.*
'''
re.search(regexp, logs[0], re.VERBOSE)

In [351]:
def extract_log(log_string):
    regexp = r'''
    (?P<command>[A-Z]+) \s/
    (?P<directory>\w+?) /
    (?P<path>.*) \s\[
    (?P<timestamp>.*) \]\s
    (?P<protocol>.*) \s{
    (?P<status>\d*) }\s
    (?P<bytes_sent>\d*) \s"
    (?P<id>User-Agent:\s) ?
    (?P<user_agent>.*) "\s
    (?P<ip>.*)
    '''
    return log_string.str.extract(regexp, re.VERBOSE)

In [352]:
extract_log(logs)

,command,directory,path,timestamp,protocol,status,bytes_sent,id,user_agent,ip
0,GET,api,v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,NaN,python-requests/2.21.0,97.105.19.58
1,POST,users_accounts,file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent:,Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64...,97.105.19.58
2,GET,api,v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,NaN,python-requests/2.21.0,97.105.19.58

# 6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [416]:
words = pd.read_csv('words')

In [517]:
words.head(100)

            A
0           a
1          aa
2         aal
3       aalii
4         aam
..        ...
95       Abba
96  abbacomes
97     abbacy
98   Abbadide
99      abbas

[100 rows x 1 columns]

In [462]:
a = 'aardvark'
b = 'aard'
c = 'a'

In [505]:
regexp = r'\w*'
if re.search(regexp, a):
    print('true a')
else:
    print('false a')
if re.search(regexp, b):
    print('true b')
else:
    print('false b')
if re.search(regexp, c):
    print('true c')
else:
    print('false c')

true a
true b
true c

In [506]:
len(words)

235975

In [426]:
words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235975 entries, 0 to 235974
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   A       235973 non-null  object
dtypes: object(1)
memory usage: 1.8+ MB

## 1. How many words have at least 3 vowels?

In [480]:
def has_3_vowels(word):
    regexp = r'\w*[aeiou]\w*[aeiou]\w*[aeiou]\w*'
    if re.search(regexp, word):
        return True
    else:
        return False

In [481]:
count = 0
for word in words.A:
    try:
        if has_3_vowels(word):
            count += 1
    except TypeError:
        next
print(count)

190351

#### 190351

## 2. How many words have at least 3 vowels in a row?

In [483]:
def has_3_vowels_in_a_row(word):
    regexp = r'\w*[aeiou][aeiou][aeiou]\w*'
    if re.search(regexp, word):
        return True
    else:
        return False

In [484]:
count = 0
for word in words.A:
    try:
        if has_3_vowels_in_a_row(word):
            count += 1
    except TypeError:
        next
print(count)

6157

#### 6157

## 3. How many words have at least 4 consonants in a row?

In [485]:
def has_4_consonants_in_a_row(word):
    regexp = r'\w*[^aeiou][^aeiou][^aeiou][^aeiou]\w*'
    if re.search(regexp, word):
        return True
    else:
        return False

In [486]:
count = 0
for word in words.A:
    try:
        if has_4_consonants_in_a_row(word):
            count += 1
    except TypeError:
        next
print(count)

19744

#### 19744

## 4. How many words start and end with the same letter?

In [531]:
def starts_ends_with_same(word):
    regexp = r'''
    ^[aA]\w*[aA]$ |
    ^[bB]\w*[bB]$ |
    ^[cC]\w*[cC]$ |
    ^[dD]\w*[dD]$ |
    ^[eE]\w*[eE]$ |
    ^[fF]\w*[fF]$ |
    ^[gG]\w*[gG]$ |
    ^[hH]\w*[hH]$ |
    ^[iI]\w*[iI]$ |
    ^[jJ]\w*[jJ]$ |
    ^[kK]\w*[kK]$ |
    ^[lL]\w*[lL]$ |
    ^[mM]\w*[mM]$ |
    ^[nN]\w*[nN]$ |
    ^[oO]\w*[oO]$ |
    ^[pP]\w*[pP]$ |
    ^[qQ]\w*[qQ]$ |
    ^[rR]\w*[rR]$ |
    ^[sS]\w*[sS]$ |
    ^[tT]\w*[tT]$ |
    ^[uU]\w*[uU]$ |
    ^[vV]\w*[vV]$ |
    ^[wW]\w*[wW]$ |
    ^[xX]\w*[xX]$ |
    ^[yY]\w*[yY]$ |
    ^[zZ]\w*[zZ]$
    '''
    if re.search(regexp, word, re.VERBOSE):
        return True
    else:
        return False

In [532]:
count = 0
for word in words.A:
    try:
        if starts_ends_with_same(word):
            count += 1
    except TypeError:
        next
print(count)

11457

#### 11457

## 5. How many words start and end with a vowel?

In [533]:
def starts_ends_with_vowel(word):
    regexp = r'''
    ^[aAeEiIoOuU]\w*[aAeEiIoOuU]$ 
    '''
    if re.search(regexp, word, re.VERBOSE):
        return True
    else:
        return False

In [534]:
count = 0
for word in words.A:
    try:
        if starts_ends_with_vowel(word):
            count += 1
    except TypeError:
        next
print(count)

14663

#### 14663

## How many words contain the same letter 3 times in a row?

In [535]:
def three_in_a_row(word):
    regexp = r'''
    /w*[aA][aA][aA]/w* |
    /w*[bB][bB][bB]/w* |
    /w*[cC][cC][cC]/w* |
    /w*[dD][dD][dD]/w* |
    /w*[eE][eE][eE]/w* |
    /w*[fF][fF][fF]/w* |
    /w*[gG][gG][gG]/w* |
    /w*[hH][hH][hH]/w* |
    /w*[iI][iI][iI]/w* |
    /w*[jJ][jJ][jJ]/w* |
    /w*[kK][kK][kK]/w* |
    /w*[lL][lL][lL]/w* |
    /w*[mM][mM][mM]/w* |
    /w*[nN][nN][nN]/w* |
    /w*[oO][oO][oO]/w* |
    /w*[pP][pP][pP]/w* |
    /w*[qQ][qQ][qQ]/w* |
    /w*[rR][rR][rR]/w* |
    /w*[sS][sS][sS]/w* |
    /w*[tT][tT][tT]/w* |
    /w*[uU][uU][uU]/w* |
    /w*[vV][vV][vV]/w* |
    /w*[wW][wW][wW]/w* |
    /w*[xX][xX][xX]/w* |
    /w*[yY][yY][yY]/w* |
    /w*[zZ][zZ][zZ]/w*
    '''
    if re.search(regexp, word, re.VERBOSE):
        return True
    else:
        return False

In [536]:
count = 0
for word in words.A:
    try:
        if three_in_a_row(word):
            count += 1
    except TypeError:
        next
print(count)

0